<!doctype html>
<html lang="en">
  <head>
  	<title>Task</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	
    
      
      
      
        
      



	</head>
	<body class="img js-fullheight" style="background-image: url(./assets/images/bg3.png); background-size: cover;">
		<nav class="navbar">
			<div class="container">
			 <h2 style="color:white ;">Drive Your Way</h2>
			  <ul class="nav justify-content-end ms-auto  ">
				<li class="nav-item">
				  <a class="nav-link"  aria-current="page" href="/adminregister"><h4 style="color: white;">Admin</h4></a>
				</li>
				<li class="nav-item" >
				  <a class="nav-link "   href="/userregister"><h4 style="color: white;">User</h4></a>
				</li>
				</ul>
			</div>
			
		  </nav>
		  <h1 style="color:rgb(234, 164, 164) ;"><marquee>If u are a Admin choose AdminLink or otherwise Choose UserLink!!</marquee><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></h1>
	
	<footer id="footer" class="footer">
  
		
	
	  </footer>
	  <script src="js/jquery.min.js"></script>
	  <script src="js/popper.js"></script>
	  <script src="js/bootstrap.min.js"></script>
	  <script src="js/main.js"></script>
	
	</body>
</html>


