<!doctype html>
<html lang="en">
  <head>
  	<title>Task</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	
	
	<script>
        function checkName(){
            let name=document.getElementById("name").value;
			
			if(name=="" || name==null){
          
          document.getElementById("check").innerHTML="Username should not be empty"
            }
			else if(name<8){
				document.getElementById("check").innerHTML="Username atleast have 8 characters"
			}
	  else{
		document.getElementById("check").innerHTML=""
	  }
	}
	function checkPassword(){
		let pwd=document.getElementById("password-field").value;
		
	   if(pwd==""){
		document.getElementById("crt").innerText="Password should not be empty "
	  }
	  else if(pwd.indexOf("@")==-1 || pwd<8){
			
	 
			document.getElementById("crt").innerText="Password must have @ and 8 characters long"
		  }
	  else{
		document.getElementById("crt").innerText=""
	  }
	}


          function checkMail(){ 
        let mail=document.getElementById("mail").value;
        
        
      
      if ((mail.indexOf("@")==-1) || ( mail.indexOf(".")==-1) ){
          
          document.getElementById("result").innerHTML="Please enter a valid email"
      }
	  else{
		document.getElementById("result").innerHTML=""
	  }
	}
      
    
      
      
      
        
      </script>



	</head>
	<body class="img js-fullheight" [ngStyle]="{backgroundImage:'url(./assets/images/pr.png)'}" >
		<nav class="navbar">
			<div class="container"   >
			 
			  <ul class="nav justify-content-end ms-auto  ">
                <li class="nav-item">
                    <a class="nav-link"  aria-current="page" href="user"><h4 style="color: white;">ViewCarDetails</h4></a>
                  </li>
				<li class="nav-item">
				  <a class="nav-link"  aria-current="page" href="usercar"><h4 style="color: white;">AddCarDetails</h4></a>
				</li>
                <li class="nav-item">
                    <a class="nav-link"  aria-current="page" href="form"><h4 style="color: white;">InterstedForm</h4></a>
                  </li>
				</ul>
			</div>
			
		  </nav>
	<section class="ftco-section">
		<div class="container">
			
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
                        <h1 class="heading-section">Add CarDetails</h1>
                        <h1 class="heading-section">{{message}}</h1>
		      	<form  class="signin-form">
		      		<div class="form-group">
		      			<input type="text" class="form-control" placeholder="Carname" name="username" id="name" [(ngModel)]="car.carName" required onkeyup="checkName()">
						<div id="check"></div>
		      		</div>
	            <div class="form-group">
	              <input id="des" type="text" class="form-control" placeholder="Description"  name="pass"[(ngModel)]="car.desc" required onkeyup="checkPassword()">
	             
				  <div id="crt"></div>
	            </div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Price"  id="price"  name="price" [(ngModel)]="car.price" required onkeyup="checkMail()">
					<div id="result"></div>
				  </div>
                  <div class="form-group">
					<input type="text" class="form-control" placeholder="Location"  id="location"  name="location" [(ngModel)]="car.location" required onkeyup="checkMail()">
					<div id="result"></div>
				  </div>
                  <div class="form-group">
					<input type="text" class="form-control" placeholder="Offers"  id="offers"  name="offers" [(ngModel)]="car.offers" required onkeyup="checkMail()">
					<div id="result"></div>
				  </div>
                  <div class="form-group">
					<input type="text" class="form-control" placeholder="Owner"  id="owner"  name="Owner" [(ngModel)]="car.owner" required onkeyup="checkMail()">
					<div id="result"></div>
				  </div>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3" (click)=Add()>Add</button>
	            </div>
	           
	          </form>
	         
		      </div>
				</div>
			</div>
		</div>
	</section>
	
	<footer id="footer" class="footer">
  
		
	
	  </footer>
	  <script src="js/jquery.min.js"></script>
	  <script src="js/popper.js"></script>
	  <script src="js/bootstrap.min.js"></script>
	  <script src="js/main.js"></script>
	
	</body>
</html>



