
<nav class="navbar navbar-light bg-danger">
    <div class="container-fluid">
    <h1 style="color: aliceblue;">ListOfCars</h1>
    <div class="d-flex">
       
			
			 
			  <ul class="nav justify-content-end ms-auto  ">
                <li class="nav-item">
                    <a class="nav-link"  aria-current="page" href="viewcar"><h4 style="color: white;">ViewCarDetails</h4></a>
                  </li>
				<li class="nav-item">
				  <a class="nav-link"  aria-current="page" href="/addcar"><h4 style="color: white;">AddCarDetails</h4></a>
				</li>
                <li class="nav-item">
                    <a class="nav-link"  aria-current="page" href="form"><h4 style="color: white;">InterstedForm</h4></a>
                  </li>
				</ul>
			</div>
			
		  
       
   
    </div>
    </nav>
    <table class="table mt-3" [ngStyle]="{backgroundImage:'url(./assets/images/pr5.png)'}">
    <thead>
    <tr>
    
    <th scope="row">Carname</th>
    <th scope="row">Price</th>
    <th scope="row">Action</th>
    
    </tr>
    </thead>
    <tbody>
        <tr >
            <td>{{order.carname}}</td>
            <td>{{order.price}}</td>
            
            <td><a href="/final">Pay</a></td>
            
         </tr>
        </tbody>
    </table>
    



